<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>"></script>

<h2>Paypal</h2>

<a href='https://www.sandbox.paypal.com/' style='font-size: 20px' target='_blank'>Tài khoản sanbox</a>
<br>
<br>

<div id="paypal-button-container"></div>



<h2>Stripe</h2>
<a href='https://stripe.com/docs/testing?locale=en-GB#testing-interactively' style='font-size: 20px' target='_blank'>Tài khoản sanbox</a>
<br>
<br>
<%= button_to "Buy with stripe checkout", stripe_checkout_path, method: :post, style: 'font-size: 20px' %>

<br>
<p>Stripe js</p>
<%= form_tag payments_stripe_path do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-amount="1000"
    data-name="Sample Charge"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="usd">
  </script>
<% end %>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<script>
  paypal.Buttons({
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            "currency_code": "USD",
            value: '1'
          }
        }]
      });
    },
    onApprove: function (data, actions) {
        $.ajax({
            url: '<%= payments_path %>',
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify({
              'order_id': data.orderID,
              'payer_id': data.payerID
            }),
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        }).then(function () {
            alert("Thanh toán thành công!");
        });
      
    },
    onCancel(data) {
      // Show a cancel page, or return to cart
      console.log("cancel");
    },
    onError(err) {
      // For example, redirect to a specific error page
      console.log(err);
      window.location.href = "/";
    }
  }).render('#paypal-button-container');
</script>
