<!DOCTYPE html>
<html>
  <head>
    <title>Paypal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <%= stylesheet_link_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false">
    <%= yield %>
  </body>
</html>
